body {
   --JeffreyAssociatesColor: #C8860A;
}

.jeffrey-associates-theme-amber-max {
   --JeffreyAssociatesColor: #FFB300;
}

.assigned-label-associate, a.assigned-label-associate { color: var(--JeffreyAssociatesColor) !important; }

.has-assigned-label * { color: inherit !important; }
.shinigami-eyes-debug-snippet-highlight {
     outline: 2px dashed darkorchid !important;
     background-color: darkorchid !important;
     color: white !important;
 }
 .shinigami-eyes-debug-snippet-highlight:after {
    content: " ";
    pointer-events: none;
    z-index: 1000000;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: darkorchid !important;
    opacity: 0.5;
 }
